# Question2: Debt Prediction

A.Read the dataset file “Credit.csv” (from github using the following command), and assign it to a Pandas DataFrame:

In [187]:
# Importing the required packages and libraries
import numpy as np
import pandas as pd

# The following lines will import LinearRegression "Class",Accuracy score, and Train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

B.Check out the dataset. The “Credit” dataset includes the “balance” column (average credit card debt for a number of individuals) as target, as well as several features: age, cards (number of credit cards), education (years of education), income (in thousands of dollars), limit (credit limit), marital status, and rating (credit rating).

In [188]:
# reading the dataset as a CSV file directly from the book website
Ad_data = pd.read_csv("https://github.com/mpourhoma/CS4661/raw/master/Credit.csv")

# showing the first 5 rows
Ad_data.head()

    Income  Limit  Rating  Cards  Age  Education  Married  Balance
0   14.891   3606     283      2   34         11        1      333
1  106.025   6645     483      3   82         15        1      903
2  104.593   7075     514      4   71         11        0      580
3  148.924   9504     681      3   36         11        0      964
4   55.882   4897     357      2   68         16        1      331

In [189]:
# Creating the Feature Matrix:

feature_cols = ['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Married']
X = Ad_data[feature_cols]

X[0::10]

      Income  Limit  Rating  Cards  Age  Education  Married
0     14.891   3606     283      2   34         11        1
10    63.095   8117     589      4   30         14        1
20    17.700   2860     235      4   63         16        0
30    34.142   5666     413      4   47          5        1
40    34.950   3327     253      3   54         14        0
50    36.362   5183     376      3   49         15        1
60    35.510   5198     364      2   35         20        0
70    24.889   3954     318      4   75         12        1
80    27.369   3449     288      3   40          9        1
90    20.191   5767     431      4   42         16        1
100   21.153   3736     256      1   41         11        0
110   34.537   3271     250      3   57         17        1
120   27.241   1402     128      2   67         15        1
130   23.793   3821     281      4   56         12        1
140   39.831   6045     459      3   32         12        1
150   63.931   5728     435      3   28         14        1
160   12.238   4865     381      5   67         11        0
170   34.772   2021     167      3   57          9        0
180   10.635   3584     294      5   69         16        1
190   55.187   5352     385      4   50         17        1
200   23.949   5343     383      2   40         18        1
210   24.543   3206     243      2   62         12        1
220   44.847   5765     437      3   53         13        0
230   33.214   5137     387      3   59          9        0
240   29.705   3351     262      5   71         14        1
250   10.363   2430     191      2   47         18        1
260   67.937   5184     383      4   63         12        1
270   15.866   3085     217      1   39         13        0
280   53.401   5319     377      3   35         12        0
290   26.370   3235     268      5   78         11        1
300   21.786   4632     355      1   50         17        1
310   33.694   4891     369      1   52         16        0
320   16.279   1160     126      3   78         13        1
330   20.405   4543     329      2   72         17        0
340   27.794   3807     301      4   35          8        1
350   30.002   1561     155      4   70         13        1
360   53.566   5891     434      4   82         10        0
370   35.610   6135     466      4   40         12        0
380  115.123   7760     538      3   83         14        0
390  135.118  10578     747      3   81         15        1

In [190]:
# check the size:
print(X.shape)

(400, 7)

In [191]:
# selecting a Series of labels (the last column) from the DataFrame
y = Ad_data['Balance']

# checking the label vector by printing every 10 values
y[::10]

0       333
10     1407
20       89
30      863
40       50
50      654
60      631
70      357
80      162
90     1023
100     298
110      47
120       0
130     868
140    1425
150     581
160     836
170       0
180     423
190     538
200     829
210      95
220    1246
230     661
240     148
250       0
260     345
270     136
280     541
290     159
300     580
310    1036
320       5
330    1054
340     320
350       0
360     712
370     992
380     661
390    1393
Name: Balance, dtype: int64

In [192]:
# checking the size:
print(y.shape)

(400,)

C.Generate the feature matrix and target vector (target is “balance” in this dataset). Then, normalize (scale) the features (note: don’t normalize the target vector!). To normalize the data, you can simply use scale(X)  from sklearn.

In [193]:
from sklearn.preprocessing import MinMaxScaler

Ad_data_new= Ad_data

Features = MinMaxScaler()
Ad_data_new[['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Married']] = Features.fit_transform(Ad_data_new[['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Married']])

Ad_data_new

,Income,Limit,Rating,Cards,Age,Education,Married,Balance
0,0.025737,0.210675,0.213723,0.125,0.146667,0.400000,1.0,333
1,0.542722,0.443406,0.438695,0.250,0.786667,0.666667,1.0,903
2,0.534598,0.476336,0.473566,0.375,0.640000,0.400000,0.0,580
3,0.786079,0.662353,0.661417,0.250,0.173333,0.400000,0.0,964
4,0.258271,0.309542,0.296963,0.125,0.600000,0.733333,1.0,331
...,...,...,...,...,...,...,...,...
395,0.009882,0.248507,0.240720,0.250,0.120000,0.533333,1.0,560
396,0.017075,0.228442,0.228346,0.500,0.560000,0.800000,0.0,480
397,0.269560,0.253944,0.256468,0.500,0.586667,0.466667,1.0,138
398,0.155287,0.127891,0.111361,0.000,0.280000,0.533333,1.0,0
399,0.047351,0.357559,0.362205,0.500,0.546667,0.133333,0.0,966

D.Split the dataset into testing and training sets with the following parameters: test_size=0.24, random_state=4.

In [194]:
#splitting the dataset into testing and training sets with the following parameters: test_size=0.24, random_state=4.

X1_normalized = Ad_data_new[feature_cols]
y1 = Ad_data_new['Balance']

X_train, X_test, y_train, y_test = train_test_split(X1_normalized, y1, test_size=0.24, 
                                                    random_state=4)

E.Use Linear Regression to train a linear model on the training set. Check the coefficients of the linear regression model. Which feature is the most important? Which feature is the least important?

In [195]:
# In the following line, "my_linreg" is instantiated as an "object" of LinearRegression "class". 

my_linreg = LinearRegression()

# fitting the model to the training data:
my_linreg.fit(X_train, y_train)

print(my_linreg.intercept_)
print(my_linreg.coef_)

-196.88434029865437
[-1327.01928481   747.64112114  2752.94751262    85.99095838
  -129.65620274     8.06527562   -41.47581319]

#E Answer:
Most Important feature :Rating
Least Important feature : Income

F.Predict “balance” for the users in testing set. Then, compare the predicted balance with the actual balance by calculating and reporting the RMSE (as we saw in lab tutorial 4).

In [196]:
# Predicting the "balance"
y_prediction = my_linreg.predict(X_test)

print(y_prediction)

[ 1.40192822e+03  3.72390498e+02  3.09606997e+02  7.75587837e+02
  3.63641910e+02  9.54490329e+02  3.20745279e+02 -2.32591690e+02
  3.99394342e+02  6.01919205e+02 -2.52478552e+02  3.82362570e+02
  4.72524424e+02  7.15924136e+02  1.11080816e+01  6.76777695e+02
 -1.10205182e+02  2.34123414e+02 -2.17604376e+02  1.36106372e+03
  3.62716990e+02 -7.18441620e+01  3.46590403e+02 -3.48468421e+00
 -1.98897875e+02 -3.79979558e+01  7.87248445e+02  3.41641943e+02
  6.76645933e+02 -5.36248977e+01  7.73056436e+02  1.50270904e+01
  9.34623394e+02  3.80185173e+02  7.48107862e+02 -2.85720687e+02
  1.00583355e+03  5.07594510e+02 -1.40361418e+02  1.10973338e+03
  1.08474720e+03  3.98005654e+02  6.40559128e+02  9.08998220e+02
  6.99056037e+02  7.92919368e+02  3.82003132e+02  9.70862036e+02
  3.34390882e+02  1.16908059e+03  2.43605505e+02  2.78833488e+02
 -6.23362942e-01  3.85459830e+01  2.49931072e+02  8.25222693e+02
 -1.98555175e+02  5.71140218e+01  1.17285043e+03  9.81760238e+02
 -6.84711889e+00  2.70524823e+02  1.08559503e+03  7.15655323e+02
  1.30819411e+02  5.64236980e+02  8.30184087e+02  1.49315369e+03
  8.63297507e+02  4.74956374e+02  9.84021756e+01  6.89313125e+02
  9.13786870e+02  4.31100337e+02  8.78305055e+02 -1.75046527e+02
 -1.04907554e+02  1.40496710e+03  1.01565064e+03  6.65436313e+01
  1.92415294e+02  4.70577920e+02  1.10527713e+03  8.87580838e+02
  1.06491174e+03  8.09197398e+02  4.77326285e+02  8.75818625e+02
  1.03458765e+03 -1.92109932e+02 -1.47672260e+01  9.64020835e+02
  5.05529492e+02  1.08659975e+03 -2.63344522e+02  9.93883438e+01]

In [197]:
#comparing the predicted balance with the actual balance by calculating and reporting the RMSE

from sklearn import metrics

# Calculating "Mean Square Error" (MSE):
mse = metrics.mean_squared_error(y_test, y_prediction)

# Using numpy sqrt function to take the square root and calculate "Root Mean Square Error" (RMSE)
rmse = np.sqrt(mse)

print('RMSE: ',rmse)

RMSE:  161.5138549117532

G.Now, use 10-fold Cross-Validation to evaluate the performance of a linear regression in predicting the balance. Thus, rather than splitting the dataset into testing and training, use Cross-Validation to evaluate the regression performance. What is the RMSE when you use cross validation?

In [198]:
# importing the method for 10-fold Cross-Validation:
from sklearn.model_selection import cross_val_score

feature_cols = ['Income','Limit','Rating','Cards','Age','Education','Married']
X = Ad_data_new[feature_cols] 
Y = Ad_data_new['Balance']

print(X.shape)
print(Y.shape)

(400, 7)
(400,)

In [199]:
# Applying 10-fold cross validation with "linear regression":

# In the following line, "my_linregr" is instantiated as an "object" of LinearRegression "class". 
linear_reg = LinearRegression()

mse_list = cross_val_score(linear_reg, X, Y, cv=10, scoring='neg_mean_squared_error')

print(mse_list)

[-23646.90415343 -32003.04401232 -35462.64435619 -37327.60719635
 -14341.32205939 -33628.37104224 -31631.99317834 -12491.00334951
 -20749.61212175 -23204.94743459]

In [200]:
# Notice that "cross_val_score" by default provides "negative" values for "mse" to clarify that mse is error.
# in order to calculate root mean square error (rmse), we have to make them positive!
mse_list_positive = -mse_list

# using numpy sqrt function to calculate rmse:
rmse_list = np.sqrt(mse_list_positive)
print(rmse_list)

[153.7754992  178.89394627 188.31527914 193.20353826 119.75525901
 183.38039983 177.85385343 111.76315739 144.04725656 152.331702  ]

In [201]:
# calculate the average RMSE as final result of cross validation:
print('average_RMSE :',rmse_list.mean())

average_RMSE : 160.3319891074414

G Answer: The RMSE using cross validation: 160.3319891074414